.news{
    display: block;
    width: 20.9rem;
    height: 12.7rem;

    background: #FFFFFF;
    border-radius: 0.25rem;
}

.news:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.news__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news h1{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1rem;
    color: #000000;
}

.news p{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1rem;
    color: #000000;
}