.activity{
    width: 26.9rem;
    height: 40.4rem;

    background: #FFFFFF;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    margin-bottom: 3.25rem;
}

.activity:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.activity h1{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.25rem;
    margin: 1rem;
    color: #000000;
}

.activity p{
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0 1rem 3.4rem 1rem;
    color: #000000;
}

.activity__link{
    display: block;
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.25rem;
    margin-bottom: 2.48rem;
    margin-left: 1rem;
    color: #016066;
}

.activity__link:hover{
    background: linear-gradient(91.65deg, #DBBF9A 4.69%, #C7AF8D 45.41%, #977458 91.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}