.welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 6rem;
    width: 50%;
}

.welcome-text h1 {
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.9rem;

    width: 114px;
    height: 35px;

    color: #FF8323;
}

.welcome-text p {
    font-family: 'Cambay', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;

    color: #000000;
}


.welcome-image {
    width: 50%;
    height: 35%;
    margin: 6rem;
    position: relative;   
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 96%;
    height: 124%;
    background: #E8E2D6;
}

.welcome__horizontal-line {
    width: 20rem;
    height: 0;
    border: 0.12rem solid #D1B882;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.welcome-picture {
    position: absolute;
    margin-top: 1rem;
    width: 97%;
    height: auto;
    margin-right: 1rem;
}